# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

#ignores JDBC (hard coded auth)
src/main/java/org/example/JDBC.java